---
const hero_img_1 = "/src/assets/landing_hero.jpg";

const title_first_half = "Academy &"
const title_second_half = "Dallas Golf"

const img_num = "01";
const max_img_num = "01"
---

<link rel="stylesheet" href="/src/styles/global.css" />
<div class="flex justify-center py-8">

    <div class={`w-full flex justify-center sm:bg-none py-4 sm:py-0`}>

        <!-- text side -->
        <div class="grid w-full sm:w-2/5 grid-rows-1 sm:grid-rows-3">

            <div class="hidden sm:block">
            </div>
            <div class="justify-end items-center w-full sm:hidden sm:h-0 pb-4">
                <img src={hero_img_1} alt="Golf Simulator">
            </div>

            <div class="flex items-center text-7xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl">
                <!-- dev: for smallest width screen -->
                <div class="sm:hidden">
                    <p class="font-light text-stone-400">
                        {title_first_half}
                    </p>
                    <p class="font-bold text-zinc-800">
                        {title_second_half}
                    </p>
                    <p class="font-light text-3xl pt-4 text-stone-400 w-full">
                        Elevate your game with world-class golf experts
                    </p>
                </div>

                <div class="hidden w-0 h-0 sm:w-auto sm:h-auto sm:block">
                    <p class="font-light text-stone-400 hidden sm:block">
                        {title_first_half}
                    </p>
                    <p class="font-bold text-zinc-800 hidden sm:block">
                        {title_second_half}
                    </p>
                    <p class="font-light text-3xl pt-4 text-stone-400 w-2/3">
                        Elevate your game with world-class golf experts
                    </p>
                </div>

            </div>

        <div class="pt-6 hidden sm:block">
            </div>
        </div>

        <!-- image side -->
        <div class="justify-end items-center w-4/5 hidden sm:flex">
            <img src={hero_img_1} alt="Golf Simulator">
        </div>

    </div>
</div>
