---
import NavBarLink from './elements/NavBarLink.astro';

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<div class="px-48">
  <nav class="flex justify-between items-center p-4 bg-white text-black">
    <div class="">
      <a href="/" class="flex items-center">
        <img src="/src/assets/a&dglogo.jpg" alt="Logo" class="h-14"/>
      </a>
    </div>
    <div class="flex justify-end flex-grow px-24 font-roboto">
      <NavBarLink href="main" currPath={currentPath} title="MAIN"/>
      <NavBarLink href="gallery" currPath={currentPath} title="GALLERY"/>
      <NavBarLink href="pricing" currPath={currentPath} title="PRICING"/>
      <NavBarLink href="certifications" currPath={currentPath} title="CERTIFICATIONS"/>
      <NavBarLink href="contact" currPath={currentPath} title="CONTACTS"/>
    </div>
  </nav>
</div>
